.timersDashboard {
  margin: 0 auto;
  width: 200px;
}

.timer {
  box-sizing: border-box;
  margin-top: 15px;
  width: 200px;
  height: 200px;
  text-align: center;
  background: yellowgreen; 
  border: 10px solid #655; 
  outline: 15px solid deeppink;
}

.timer h3 {
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.timerForm {
  box-sizing: border-box;
  margin-top: 15px;
  width: 200px;
  height: 200px;
  text-align: center;
  background: yellowgreen; 
  border: 10px solid #655; 
  outline: 15px solid deeppink;
}

.timersDashboard button {
  display: inline-block;
  padding: 2px 6px;
  margin: 2px;
  margin-bottom: 0;
  background: #689;
  font-size: 12px;
  font-weight: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  color: aliceblue;
  background-image: none;
  border: 1px solid transparent;
}

.timersDashboard .addTimerButton {
  padding: 6px 12px;
  margin-top: 20px;
  width: 200px;
  height: 30px;
}